body {
  margin: 0;
  font-family:monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(228, 228, 228);
  overflow-x: hidden;
}
*{
  font-family: monospace;
}
a{
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#outputEditor{
  font-family: monospace;
}


.outputText{
  color: red;
  /* display: inline-block; */
  width: 100%;
}

.theEditor{
  /* min-height: 100px; */
  /* background-color: white; */
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; */
      /* margin: 10px; */
      /* outline: none;
    border-radius: 5px; */
    /* height: 100vh; */
  /* padding: 20px; */
}

#theEditorBox{
  
}

.ql-container.ql-snow{
  border: 10px solid white !important;
  margin-top: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 10px;
}
.theOutPut{
  background-color: #fff3f3;
  /* height: 100vh; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 1px 2px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  margin: 10px;
  border-radius: 5px;
  padding: 20px;
  white-space: pre;
  user-select: all;
}

.outputEditor{
  width: 100%;
  height: auto;
  border: none;
}